<template:basic htmlTitle="Profile" bodyTitle="Profile">  
<!-- ============================================================== -->
 <!-- Start right Content here -->
 <!-- ============================================================== -->                      
 <div class="content-page">
     <!-- Start content -->
     <div class="content">
         <div class="container">

             <!-- Page-Title -->
             <div class="row">
                 <div class="col-sm-12">
                     <h4 class="pull-left page-title">Blank Page</h4>
                     <ol class="breadcrumb pull-right">
                         <li><a href="#">Moltran</a></li>
                         <li><a href="#">Pages</a></li>
                         <li class="active">Blank Page</li>
                     </ol>
                 </div>
             </div>
             
             Dear ${user} you don't have permission to access this file!

             <!-- Pls Remove -->
             <div style="height:600px;"></div>


         </div> <!-- container -->
                    
     </div> <!-- content -->

     <footer class="footer text-right">
         2015 © Moltran.
     </footer>

 </div>
 <!-- ============================================================== -->
 <!-- End Right content here -->
 <!-- ============================================================== -->


</template:basic>
            